{% include 'productnavbar.html' %}
<html>
<head>
    <title>View Cart</title>
    <link href="/static/css/view_cart.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Action</th> <!-- Add this column for delete action -->
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><a href="{% url 'search_products' %}?searchTerm={{ item.product.name }}">{{ item.product.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>
                    <form action="{% url 'delete_cart_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/products">Continue Shopping</a>
</body>
</html>
